html {
  height: 100%;
}

body {
  background-color: #0E1014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 1180px;
  height: 100%;
}

.page-layout {
  position: relative;
  z-index: 1;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

img {
  vertical-align: unset;
}

header {
  margin-top: 46px;
  width: 1140px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header_logo {
  height: 24px;
}

header .header_logo img {
  width: 100%;
  height: 100%;
}

header .txt_under-logo {
  position: absolute;
  width: 165px;
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 10px;
  line-height: 12.19px;
  color: #E4E5EA;
}

header .nav_links {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 503px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 53px;
  padding: 0;
}

header .nav_links a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #E4E5EA;
}

header > a {
  text-decoration: none;
  color: white;
  margin-left: 137px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #E4E5EA;
}

header > a:hover {
  color: white;
}

header .header_social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 47px;
  width: 117px;
}

header .header_social-link > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  width: 20px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 125px;
}

.intro .intro_first-column {
  margin-left: -3px;
}

.intro .intro_first-column h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 48px;
  line-height: 58.09px;
  color: #E4E5EA;
}

.intro .intro_first-column h1 b {
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-weight: 900;
  font-size: 48px;
  line-height: 58.09px;
  color: #E4E5EA;
}

.intro .intro_first-column p {
  margin-top: 30px;
  margin-left: 1px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.94px;
  color: #E4E5EA;
  margin-bottom: 0px;
}

.intro .intro_second-column {
  text-align: right;
  margin-top: 15px;
}

.intro .intro_second-column p {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  color: #E4E5EA;
  background: linear-gradient(92deg, #FCB045 27.14%, red 121.36%);
  -webkit-background-clip: text;
}

.intro .intro_second-column p b {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
  color: #E4E5EA;
  -webkit-text-fill-color: transparent;
  letter-spacing: .05em;
}

.intro .intro_second-column_gifts {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.intro .intro_second-column_gifts h6 {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  color: #E4E5EA;
  margin-bottom: 6px;
  letter-spacing: .05em;
}

.intro .intro_second-column_gifts p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: #E4E5EA;
  margin-bottom: 0px;
}

.intro .intro_second-column_button {
  font-family: Inter;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19.36px;
  color: #E4E5EA;
  border: none;
  background-color: #4077F3;
  width: 262px;
  height: 61px;
  margin-top: 60px;
}

footer {
  margin-top: 70px;
  padding-bottom: 20px;
}

footer .footer_links-layouts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_links-layouts a {
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #E4E5EA;
}

footer .footer_links-layouts h6 {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
  color: #656566;
  margin-bottom: 20px;
  letter-spacing: .05em;
}

.footer_first-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_company-links {
  margin-right: 98px;
}

.footer_company-links a {
  display: block;
  margin-bottom: 10px;
}

.footer_menu-grid-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px 52px;
}

.footer_second-container {
  text-align: right;
}

.footer_second-container .footer_number {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #E4E5EA;
  display: block;
}

.footer_second-container .footer_social-link {
  margin-top: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
}

.footer_second-container .footer_social-link > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  width: 20px;
}

.footer_address {
  margin-top: 20px;
  display: block;
}

.footer_signature {
  text-align: right;
  margin-top: 33px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  color: #E4E5EA;
}

.footer_privacy-policy {
  display: block;
  margin-top: 5px;
  text-align: right;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.63px;
  color: #E4E5EA;
}

.footer_privacy-policy:hover {
  color: #E4E5EA;
}

.purple_light {
  position: absolute;
  top: 0;
  width: 259px;
  height: 259px;
  left: 452px;
  top: -154px;
  background: #833AB4;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
}

.purple_ball {
  position: absolute;
  top: -2px;
  left: 718px;
}

.red_light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: #961A1A;
  opacity: 0.5;
  -webkit-filter: blur(196px);
          filter: blur(196px);
}

.red_ball {
  position: absolute;
  top: 70px;
  left: 360px;
}

.red_ball-small {
  position: absolute;
  top: 547px;
  right: 410px;
}

.hide-on-pc {
  display: none;
}

@media only screen and (max-width: 500px) {
  body {
    min-width: auto;
    display: block;
  }
  .hide-on-pc {
    display: initial;
  }
  .hide-on-mobile {
    display: none !important;
  }
  .purple_light {
    width: 110px;
    right: 0px;
    top: 162px;
    opacity: 1;
    z-index: 1;
  }
  .red_light {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 296px;
    z-index: 1;
  }
  header {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    background: #0E1014;
    z-index: 2;
  }
  header .nav_links {
    margin: 20px 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .nav_links ul {
    width: 100%;
  }
  header .nav_links a {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #E4E5EA;
    text-transform: uppercase;
  }
  .intro {
    display: block;
    margin-top: 55px;
    padding: 40px 0 65px 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(./styles/images/bg_mobile.png);
    background-size: 100% 100%;
  }
  .intro .intro_first-column {
    margin-left: 0;
  }
  .intro .intro_first-column h1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 36px;
    line-height: 43.57px;
    color: #E4E5EA;
  }
  .intro .intro_first-column h1 b {
    font-family: Inter;
    font-weight: 900;
    font-size: 36px;
    line-height: 43.57px;
    color: #E4E5EA;
  }
  .intro .intro_first-column p {
    margin-top: 15px;
    margin-left: 1px;
  }
  .intro .intro_second-column {
    text-align: left;
    margin-top: 45px;
  }
  .intro .intro_second-column p {
    display: inline-block;
  }
  .intro .intro_second-column p b {
    text-transform: lowercase;
    letter-spacing: 0;
  }
  .intro .intro_containet-gifts-mobile {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.85px;
    color: #E4E5EA;
    letter-spacing: .05em;
    margin: 0;
    margin-right: 39px;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(115px, 1fr) minmax(145px, 1fr);
        grid-template-columns: minmax(115px, 1fr) minmax(145px, 1fr);
    gap: 14px 10px;
    text-transform: uppercase;
    list-style-type: none;
  }
  .intro .intro_containet-gifts-mobile li {
    display: block;
  }
  .intro .intro_containet-gifts-mobile li::before {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, color-stop(36.99%, #FCB045), to(#FD1D1D));
    background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
    margin-right: 5px;
    content: ' ';
  }
  footer {
    background: #0E1014;
    margin-top: 0;
    margin-bottom: 0;
    padding: 41px 30px 60px 16px;
  }
  footer .footer_links-layouts {
    display: block;
  }
  footer .footer_links-layouts a {
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #E4E5EA;
  }
  footer .footer_links-layouts h6 {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.52px;
    color: #656566;
    margin-bottom: 20px;
  }
  footer .footer_first-container {
    display: block;
  }
  footer .footer_first-container .footer_company-links {
    margin-right: 0;
  }
  footer .footer_first-container .footer_menu-links {
    margin-top: 30px;
    gap: 10px 48px;
  }
  footer .footer_second-container {
    margin-top: 30px;
    text-align: left;
  }
  footer .footer_second-container .footer_social-link {
    margin-top: 8px;
    width: 92px;
  }
  footer .footer_second-container .footer_social-link > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 24px;
    width: 24px;
  }
  footer .footer_address {
    margin-top: 10px;
  }
  .footer_signature {
    text-align: left;
    margin-top: 50px;
  }
  .footer_privacy-policy {
    text-align: left;
    margin-top: 5px;
  }
}
